@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  width: 100%;
  background: #323131;
}

.outputChatlog {
  -webkit-font-smoothing: none !important;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  letter-spacing: 0;
}

/** #chatlog {
  width: fit-content;
} **/